# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/**/*
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
backend/static_storage/
backend/media/
backend/local_settings.py

# Personal notes
*.perso.md

# Ignore our destination of static files
# except the .keep to keep it in git
backend/static/*
!backend/static/.keep

# Ignore our destination of media files
# except the .keep to keep it in git
backend/media/*
!backend/media/.keep

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Workspace VSCode settings
*.code-workspace

# mkdocs documentation
/site

# mypy
.mypy_cache/

# certificates
*.pem

.DS_Store
web/node_modules
web/dist/**/*
!web/dist/.keep

# local env files
web/.env.local
web/.env.*.local

# Log files
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

# Editor directories and files
web/.idea
web/.vscode
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?

# Frontend cache
web/.eslintcache

# Build output stats
web/webpack-stats.json

# Celery
celerybeat-schedule.db

# Hosting
.clever.json

.vscode/*.code-snippets

# Celery
celerybeat-schedule
celerybeat-schedule.db

# Stats
stats/.jupyter_cache/
stats/bilan/.quarto/
stats/bilan/_output/
stats/bilan/data
stats/bilan/france-geojson

notes/

# Shell nix
shell.nix

# Database
.postgres
