<IfModule mod_headers.c>
    Header always set Content-Security-Policy "\
        default-src 'self' *.gouv.fr *.services.clever-cloud.com; \
        font-src 'self' https://data.geopf.fr; \
        script-src 'self' *.gouv.fr https://cdn.jsdelivr.net/; \
        style-src 'self' https://cdn.jsdelivr.net/; \
        img-src 'self' *.services.clever-cloud.com data: *.nasa.gov; \
        connect-src 'self' *.gouv.fr https://api.iconify.design https://api.unisvg.com https://api.simplesvg.com; \
    "
</IfModule>
