<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
    Header always set Content-Security-Policy "\
        default-src 'self' *.gouv.fr *.services.clever-cloud.com; \
        font-src 'self' https://data.geopf.fr; \
        script-src 'self' *.gouv.fr https://cdn.jsdelivr.net/ 'unsafe-eval'; \
        style-src 'self' https://cdn.jsdelivr.net/; \
        img-src 'self' *.services.clever-cloud.com data: *.nasa.gov https://mirrors.creativecommons.org; \
        connect-src 'self' *.gouv.fr https://api.iconify.design https://api.unisvg.com https://api.simplesvg.com; \
    "
</IfModule>

RewriteEngine On

# If an existing asset or directory is requested, serve it
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html
